
body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flashcard {
  width: 400px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  margin-bottom: 20px;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.flashcard .front, .flashcard .back {
  position: absolute;
  border-radius: 20px;
  width: 100%;
  color: rgb(25, 3, 47);
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flashcard .back {
  transform: rotateY(180deg);
}


